<h1 class="page-header">My projects</h1>
<p>Check all your existing projects or create a new one</p>

<div *apploading="loadingProjects">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class="card w-100 dashed-card text-center text-primary card-margin clickable" (click)="openModal(createProject)">
        <div class="card-body">
          <p class="card-text">
            <i class="fa fa-5x fa-plus"></i>
          </p>
          <h5 class="card-text">CREATE NEW</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" *ngFor="let arapp of readAllSummaryResponse.arApps">
      <div class="card w-100 card-margin">
        <div class="card-body">
          <h5 class="card-title">{{ arapp.title }}</h5>
          <p class="card-text">{{ arapp.description }}</p>
          <a href="#" class="card-link">
            <i class="fa fa-pencil" aria-hidden="true"></i> EDITAR</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createProject let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New project</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="email" class="form-control" id="inputTitle" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription" rows="3"></textarea>
      </div>
      <legend class="col-form-label">Marker type</legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-check">
            <label class="form-check-label" for="radioARToolKit">
              Fiducial marker
              <input class="form-check-input" type="radio" name="frameworks" id="radioARToolKit" value="artoolkit" checked>
              <img src="assets/fiducial_marker.jpg" class="img-fluid">
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-check">
            <label class="form-check-label" for="radioVuforia">
              Natural marker
              <input class="form-check-input" type="radio" name="frameworks" id="radioVuforia" value="vuforia">
              <img src="assets/natural_marker.jpg" class="img-fluid">
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="c()">CREATE</button>
  </div>
</ng-template>