<!--nav class="default-primary-color">
  <div class="nav-wrapper container">
    <a routerLink="/" routerLinkActive="active" class="brand-logo">ARCreator</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Username</a></li>
    </ul>
  </div>
</nav-->
<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>ARCreator</span>
  <button mat-button [mat-menu-trigger-for]="menu">
    Username
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<span class="done">
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</span>
<router-outlet></router-outlet>