<div class="row">

  <div class="col-12 col-sm-12 col-md-3 col-lg-2">
    <h3>Markers</h3>
    <button type="button" class="bottom-margin btn btn-success mx-auto d-block" (click)="openAddMarkerModal(addMarkerModal)">
      <i class="fa fa-plus"></i>
      Add marker
    </button>

    <img src="{{ marker }}" class="img-fluid bottom-margin" *ngFor="let marker of markerImageList">

  </div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-2">
    <h3>Resources</h3>
    <button type="button" class="bottom-margin btn btn-success mx-auto d-block" (click)="openAddResourceModal(addResourceModal)">
      <i class="fa fa-plus"></i>
      Add resource
    </button>

    <img src="{{ resource }}" class="img-fluid bottom-margin" *ngFor="let resource of resourceImageList">

  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-8">
    <h3>EDITOR AREA</h3>
  </div>

</div>

<ng-template #addMarkerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add marker</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addMarker()">
      <div class="form-row">

        <div class="form-group col-6 col-md-3 col-sm-4" *ngFor="let marker of availableMarkers">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="{{ marker.name }}" [(ngModel)]="selectedMarkerName" name="selectedMarkerName">
              <img src="{{ marker.path }}" class="img-fluid">
            </label>
            <input class="form-check-input" type="hidden" value="{{ marker.path }}" [(ngModel)]="selectedMarkerImage" name="selectedMarkerImage">
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">OK</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addResourceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-row">
      <div class="col-10">
        <input class="form-control" placeholder="Search" required [(ngModel)]="keywords" name="keywords">
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="searchKeywords()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <form (ngSubmit)="addResource()">

      <div class="form-row">

        <div class="form-group col-6 col-md-4 col-sm-4" *ngFor="let resource of resultResources">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="{{ resource.name.substring(7) }}" [(ngModel)]="selectedResourceUrl" name="selectedResourceUrl">
              <img src="{{ resource.thumbnail.url }}" class="img-fluid">
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">OK</button>
      </div>
    </form>
  </div>
</ng-template>