@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

mat-toolbar {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

/*

.dark-primary-color    { background: #303F9F !important; }
.default-primary-color { background: #3F51B5 !important; }
.light-primary-color   { background: #C5CAE9 !important; }
.text-primary-color    { color: #FFFFFF !important; }
.accent-color          { background: #009688 !important; }
.primary-text-color    { color: #212121 !important; }
.secondary-text-color  { color: #757575 !important; }
.divider-color         { border-color: #BDBDBD !important; }

html {
    font-family: "Roboto", sans serif;
    font-weight: 300;    
}

h1, h2 {
    font-weight: 300;
    color: #303F9F;
}

h3, h4, h5 {
    font-weight: 300;
    color: #757575;
}

.loader {
    margin-top: 60px;
    margin-bottom: 60px;
}

.vertical-container {
    height: 600px;
}

.valign {
    width:100%;
}*/